@using MobilyaUstasi.Models
@model List<SliderModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schön. | eCommerce HTML5 Template</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic%7cMontserrat:400,700%7cOxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/icon-fonts.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <div class="mt-bottom-bar">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="mt-logo"><a href="/"><h2 class="heading" style="font-weight:bold; color:black;">Mobilya Ustası</h2></a></div>
                <nav id="nav">
                  <ul>
                    <li><a href="/about">Hakkımızda</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

                
    <div class="mt-mainslider2">
        <div class="banner-slider">
            @foreach (var item in Model)
            {
                <div class="holder">
                    <img class="img" src="@item.img" alt="image description">
                        
                    <div class="caption">
                        <div class="c1">
                            <div class="c2">
                                <div class="text right">
                                    <span class="title">@item.title</span>
                                    <h2>@item.content</h2>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            }
        </div>    
    </div>    
         
    <main id="mt-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mt-productsc wow fadeInUp" data-wow-delay="0.4s">
                        <div class="row">
                            <div class="col-xs-12 mt-heading text-uppercase text-center">
                                <h2 class="heading">ÜRÜNLERİMİZ</h2>
                            </div>
                        </div>
                        <div id="mt-productscrollbar" class="row">
                                 
                            <div class="mt-holder">
                                @foreach (var item in ViewBag.mobilyaList as List<MobilyaModel>)
                                {
                                    <div class="mt-product2 large bg-grey">
                                        
                                    <div class="box">
                                        <img alt="image description" src="@item.Image">
                                    </div>    
                                    <div class="txt">
                                        <strong class="title">@item.ServiceName</strong>
                                        <span class="price"><span>@item.Price TL</span></span>
                                    </div>    
                                </div>     
                                }
                                
                            </div>     
                        </div>     
                    </div>     
                </div>
            </div>
        </div>
    </main>

			<footer id="mt-footer" class="style1 wow fadeInUp" data-wow-delay="0.4s">
				<div class="footer-area">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<p>© 2023<a href="#"> Mobilya Ustası.</a> - All rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
				       
			</footer>      

       
    <script src="js/jquery.js"></script>
       
    <script src="js/plugins.js"></script>
       
    <script src="js/jquery.main.js"></script>
</body>
</html>
