@using MobilyaUstasi.Models
@model List<MobilyaModel>

@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-1">Mobilya Ustası</h1>
</div>

<div class="container">
    <a class="btn btn-success float-end mr-0" asp-action="SaveMobilya">Ekle</a>

    <table class="table">
        <tr>
            <th>Servis Başlık</th>
            <th>Servis Açıklama</th>
            <th>Servis Fiyat</th>
        </tr>
        @foreach (var item in Model as List<MobilyaModel>)
        {
            <tr>
                <td>@item.ServiceName</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>
                    <a class="btn btn-primary" asp-action="UpdateMobilya" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-action="DeleteMobilya" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </table>
</div>
